.kontainer {
    width: 700px;
    margin: auto;
    padding: 30px;
    background: #d5d5d5;
}
.kolumn-2 {
    width: 300px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.kolumn-4 {
    width: 300px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
input, button {
    padding: 10px;
    min-width: 50px;
}