body {
    background-image: url(./bilder/Michael_Schumacher_\(Ferrari\)_-_GP_d\'Italia_1998.jpg);
    background-size: cover;
        }
    h1 {
        color: black;
    }
    p {
        color: black;
    }