body{ 
    background-image:url(bilder/image-24.jpg);
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    font-family: "Lugrasimo", cursive;
}


p {
  font-family: "Edu AU VIC WA NT Hand", cursive;
}

img {

}
a {
    
}